<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activities</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <style>
      body {
          background-color: rgb(244,247,252);

      }

      .card:hover{
          transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
      }
      button {
        background-color:rgb(11, 97, 255)
      }
  </style>
</head>
<body>
  <ul class="nav nav-pills" style="background-color: #e3f2fd;">
    <li class="nav-item">
        <a class="nav-link" aria-current="#" href="{{url_for('summary',username=current_user.username)}}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{url_for('history',username=current_user.username)}}">Activities</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('analysis',username=current_user.username)}}">Strategy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('transfer',username=current_user.username)}}">Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Notification</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  </ul>
  <div class="container">
    <h2>Active Orders</h2>
    <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Order</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Remove/Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %} 
            {% if row.status == "filing" %}   
            <tr id="row">
                <script>a = 0</script>
                <td>{{row.date}}</td>
                <td>{{row.action}}</td>
                <td>{{row.method}}</td>
                <td>{{row.status}}</td>
                <td>{{row.amount}}</td>
                <td><div contenteditable><span id="edit">{{row.price}}</span></div></td>
                <td>
                  <input type="button" value="Remove" class="remove btn btn-primary" name="remove" id="{{ row.id }}">
                  <input type="button" value=" Update " class="update btn btn-primary" name="update" id="update" >
                </td>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type=text/javascript>
                        $("#{{ row.id }}").click(function(){
                          rowID = $(this).attr('id');
                          console.log(typeof rowID);
                          $.ajax({
                            url: "/remove_order&ID=" + rowID,
                            cache: false,
                            success: function(data){
                              //$(this).closest('tr').remove();
                              $("#row").remove();
                            }
                          })
                       });
                </script>
                <!--How to name element ID with variables and string-->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script type=text/javascript>
                    $(".update").click(function(){
                    rowID = $("#{{ row.id }}").attr('id');
                    var price_update = document.getElementById("edit").textContent;
                    console.log(price_update);
                    $.ajax({
                      url: "/update_order&ID=" + rowID + "&price=" + price_update,
                      cache: false,
                      success: function(data){
                        //$(this).closest('tr').remove();
                        console.log('update order already');
                      }
                    })
                 });
                </script>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <h2>History</h2>
    <table class="table table-hover">
        <thead class="thead-light"> 
          <tr>
            <th>Date</th>
            <th>Action</th>
            <th>Order</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %} 
            {% if row.status == "complete" %}   
            <tr>
                <td>{{row.date}}</td>
                <td>{{row.action}}</td>
                <td>{{row.method}}</td>
                <td>{{row.status}}</td>
                <td>{{row.amount}}</td>
                <td>{{row.price}}</td>
            </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
  </div>
  
</body>
</html>
